:root {
    /* Fonts */
    --poppins       : 'Roboto', Tahoma;
    --light         : 300;
    --regular       : 400;
    --bold          : 700;
    /* --extra-bold    : 100; */
    /* Colors */
    --primary       : #00b19d;
    --secondary     : #00cbb4;
    --color-3       : lightgreen;
    --color-4       : tomato;
    --color-5       : purple;
    --white         : #ffffff;
    --black         : #000000;
    /* Grays */
    --gray-1        : #707070;
    --gray-2        : #cccccc;
    --gray-3        : #474747;
    --gray-4        : #0000001a; /* Últimos dos carácteres representan la opacidad */
    /* Values */
    --zero          : var(--zero);
    /* Spaces */
    --auto          : auto;
    /* Layout */
    --l-container-w : calc(100% - 40px);
    /* Flexbox */
    --flex          : flex;
    --start         : start;
    --center        : center;
    --end           : end;
    --grow-1        : 1;
    --direction     : column;
    /* Units */
    --vh-100        : 100vh;
    --h-100         : 100%;
    --w-100         : 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

figure {
    margin: var(--zero);
}

img {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--zero);
    margin-bottom: var(--zero);
}

input {
    width: var(--w-100);
    height: 45px;
    padding-left: 10px;
}

button {
    width: 200px;
    height: 50px;
    
    background-color: var(--secondary);

    letter-spacing: 1px;
    line-height: 50px;
    font-size: 16px;
    font-weight: var(--bold);
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    opacity: .85;
    transition: all .25s;
}

input,
button {
    border: none;
    font-family: var(--poppins);
}

body {
    margin: var(--zero);

    display: var(--flex);
    flex-direction: var(--direction);
    min-height: var(--vh-100);

    font-family: var(--poppins);
    
    /* background-color: var(--primary); */
}

.title--1 {
    font-weight: var(--bold);
    font-size: 28px;
}

button.button--1 { /* Override al selector en donde se reutiliza la clase */
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    font-weight: var(--bold);
    margin-top: var(--zero);
    margin-bottom: var(--zero);
}

button.is-primary:hover {
    background: var(--secondary);
    border: 1px solid var(--secondary);
}

.d-block {
    display: block;
}

.l-container {
    width: var(--l-container-w);
    margin-right: var(--auto);
    margin-left: var(--auto);
}

/* Inicio "Login" */
.login {
    /* background-color: var(--secondary); */
    margin-top: 30px;
    /* margin-bottom: var(--auto); */
    color: var(--white);
    font-size: 16px;
}

.login__logo {
    margin-bottom: 14px;
}

.login__logo__image {
    /* background-color: var(--secondary); */
    margin-right: auto;
    margin-left: auto;
}

/* .login__content {
    background-color: var(--color-3);
} */

/* .login__content__text {

} */

[class*="login__content__text"] {
    line-height: 30px;
    color: var(--gray-1);
    font-size: 18px;
    font-weight: var(--light);
    margin-bottom: var(--zero);
    text-align: var(--center);
}

.login__content__text--1 {
    color: var(--primary);
    font-size: 16px;
    line-height: 24px;
}

.login__form {
    /* background-color: var(--color-4); */
    margin-top: 14px;
    text-align: var(--center);
}

.login__form__item:last-child {
    position: relative;
}

#view-eye {   
    fill: var(--gray-2);
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

#view-eye:hover {
    stroke: currentColor;
    cursor: pointer;
}

.login__form__item__input,
.button--1 {
    padding: 12px 8px;
    width: var(--w-100);
    line-height: 24px;
    font-size: 16px;
    font-weight: var(--light);
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--gray-2);
    border-radius: 5px;
    transition: all .2s;
    color: var(--gray-3);
}

.login__form__item__input:focus {
    outline: none;
    border: 1px solid var(--primary);
}


.login__button {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: var(--center);
}

/* .login__footer {
    background-color: var(--color-5);
} */

.login__footer__item {
    text-align: var(--center);
}

.login__footer__item a {
    color: var(--primary);
    font-weight: var(--light);
}

.login__footer__item a:hover {  /* Override a Bootstrap */
    text-decoration: none;
}

.login__footer__item:last-child {
    color: var(--gray-1);
    font-size: 14px;
    font-weight: var(--light);
    line-height: 44px;
    position: relative;
}

.login__footer__item:last-child::before {
    content: '';
    display: block;
    width: var(--w-100);
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--gray-4);
}

.forget-password {
    font-size: 12px;
    font-style: var(--light);
    line-height: 38px;
}

.user-register {
    display: block;
    text-transform: uppercase;
}

.login__carousel {
    display: none;
}
/* Fin "Login" */

/* Inicio Carousel (Bootstrap) */
.carousel-inner {
    background-color: var(--primary);
    height: 100vh;
    position: relative;
}

.login__carousel__image {
    background-color: hotpink;
    position: absolute;
    /* top: var(--zero);
    right: var(--zero);
    bottom: var(--zero);
    left: var(--zero);
    margin: auto; */
    width: var(--w-100);
    height: var(--vh-100);
}


.login__carousel__image:nth-child(even) {
    background-color: pink;
}

.carousel-indicators {
    /* background-color: turquoise; */
    justify-content: var(--start);
    margin-right: 0;
    margin-left: 40px;
}

.carousel-indicators li { /* Override Bootstrap */
    margin: 0 5px;
    height: 13px;
    width: 13px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
}

.carousel-indicators li.active { /* Override Bootstrap */
    background-color: var(--primary);
}

.login__carousel__content {
    background-color: hotpink;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: var(--w-100);
    height: var(--vh-100);
    display: var(--flex);
    flex-direction: var(--direction);
    padding: 20px 40px;
}

.login__carousel__content p {
    margin-bottom: 0;
    text-align: right;
    font-size: 16px;
    font-weight: var(--light);
}

.login__carousel__content__top {
    background-color: tomato;
}

.login__carousel__content__bottom {
    background-color: seagreen;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    align-items: var(--center);
    margin-right: 10px;
}

.login__carousel__button {
    padding: 3px 22px;
    border-radius: 25px;
    border: 1px solid var(--white);
    color: #00535e;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: var(--bold);
    color: var(--white);
    text-transform: uppercase;
    margin-left: 10px;
}

.login__carousel__button:hover {
    text-decoration: none;
    color: var(--primary);
    background: var(--white);
}

.login__carousel__social {
    background-color: lightlbue;
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-right: 40px;
}

.login__carousel__social__item {
    background-color: lightcoral;
}

.login__carousel__social__item svg {
    width: 50px;
    fill: var(--white)
}

.login__carousel__social__item::nth-child(even) {
    background-color: lightgreen;
}
/* Fin Carousel (Bootstrap) */

/* Media Queries */
@media screen and (min-width: 768px) {
    .d-block {
        display: inline-block;
    }

    .l-container {
        width: var(--w-100);
    }
    
    /* Inicio "Login" */
    .login__logo {
        text-align: left;
    }

    .login {
        margin-top: var(--zero);
        display: var(--flex);
        height: var(--vh-100);
    }
    
    .login__container {
        flex: var(--grow-1) 0 500px;
        display: var(--flex);
        flex-direction: var(--direction);
        justify-content: var(--center);
        padding-right: 50px;
        padding-left: 50px;
        margin-right: var(--auto);
        margin-left: var(--auto);
        max-width: 500px;
    }

    .login__form__item:last-child {
        display: inline-block;
    }

    .login__carousel {
        display: block;
        flex-grow: var(--grow-1)
    }

    .login__form__item__input,
    .button--1 {
        width: 340px;
    }

    .user-register {
        display: inline-block;
    }
    /* Fin "Login" */
}

@media screen and (min-width: 1200px) {
    .login__container {
        padding-right: 15px;
        padding-left: 15px;
    }
}